
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#rainbow
{
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    padding: 10px;
}
#rainbow article
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#rainbow article div
{
    width: 10%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
}